<div class="my-container" *ngIf="_esAdmin">
	<h4 style="color: #000000"> Registro ADMIN </h4>
	<form [formGroup]="formularioDeRegistroAdmin">
		<div class="row" id="form">
			<div class="col-sm-12 col-md-12" id="form-container">
				<!-- email, nombreUsuario, password, fechaDeNacimiento-->
				<!-- primera fila -->
				<div class="row">
					<div class="col-sm-1 col-md-1"></div>
					<div class="col-sm-11 col-md-5">
						<div class="input-field">
							<label>Nombre</label>
							<input type="text" formControlName="nombre" class="form-control">
						</div>
					</div>
					<div class="col-sm-11 col-md-5">
						<div class="input-field">
							<label>Apellido</label>
							<input type="text" formControlName="apellido" class="form-control">
						</div>
					</div>
					<div class="col-sm-1 col-md-1"></div>
				</div>
				<!-- segunda fila -->
				<div class="row">
					<div class="col-sm-1 col-md-1"></div>
					<div class="col-sm-11 col-md-5">
						<div class="input-field">
							<div style="margin-top: -5px;">
								<label for="Email">Email</label>
								<input id="Email" type="email" formControlName="email" class="form-control">
							</div>
						</div>
					</div>
					<div class="col-sm-11 col-md-5">
						<div class="input-field">
							<label for="dateOfBirth">Fecha Nacimiento</label>
							<div class="input-group-append">
								<input id="dateOfBirth" class="form-control" formControlName="fechaDeNacimiento"
									placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #dp="ngbDatepicker">
								<button class="btn btn-outline-secondary calendar" (click)="dp.toggle()"
									type="button"></button>
							</div>
						</div>
						<div class="col-sm-1 col-md-1"></div>
					</div>
				</div>
				<!-- tercera fila -->
				<div class="row">
					<div class="col-sm-1 col-md-1"></div>
					<div class="col-sm-11 col-md-5">
						<div class="input-field">
							<label> Nombre de usuario </label>
							<input type="text" formControlName="nombreUsuario" class="form-control">
						</div>
					</div>
					<div class="col-sm-11 col-md-5">
						<div class="input-field">
							<label>Contraseña</label>
							<input type="password" formControlName="password" class="form-control">
						</div>
					</div>
					<div class="col-sm-1 col-md-1"></div>
				</div>
				<!-- cuarta fila -->
				<div class="row">
					<div class="col-sm-1 col-md-1"></div>
					<div class="col-sm-11 col-md-5">
						<div class="submit-button">
							<button type="reset" class="button" id="reset-button">Borrar</button>
						</div>
					</div>
					<div class="col-sm-11 col-md-5">
						<button type="button" class="button  btn-warning" id="submit-button"
							(click)="onSubmitAdmin()">Registrar</button>
						<!-- {{ labelPagina }} -->
					</div>
					<div class="col-sm-1 col-md-1"></div>
				</div>
			</div>
		</div>

	</form>
</div>

<div class="my-container" *ngIf="!_esAdmin">
	<h4 style="color: #347ad4"> Registrate </h4>
	<form [formGroup]="formularioDeRegistroComun">
		<div class="row" id="form">
			<div class="col-sm-12 col-md-12" id="form-container">
				<!-- email, nombreUsuario, password, fechaDeNacimiento-->
				<!-- primera fila -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-sm-12 col-md-5">
						<div class="input-field">
							<div style="margin-top: -5px;">
								<label for="Email">Email</label>
								<input id="Email" type="email" formControlName="email" class="form-control">
							</div>
						</div>
					</div>					
				</div>
				<!-- tercera fila -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-sm-12 col-md-5">
						<div class="input-field">
							<label> Nombre de usuario </label>
							<input type="text" formControlName="nombreUsuario" class="form-control">
						</div>
					</div>
					<div class="col-sm-12 col-md-5">
						<div class="input-field">
							<label>Contraseña</label>
							<input type="password" formControlName="password" class="form-control">
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
				<!-- cuarta fila -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-sm-12 col-md-5">
						<div class="submit-button">
							<button type="reset" class="button" id="reset-button">Borrar</button>
						</div>
					</div>
					<div class="col-sm-12 col-md-5">
						<button type="button" class="button btn-info" id="submit-button"
							(click)="onSubmitComun()">Registrar</button>
						<!-- {{ labelPagina }} -->
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</form>
</div>