<figure class="image-gallery-image">
	<img src="assets/img/enConstruccionChica.jpg" alt="">
</figure>
<figure class="image-gallery-image">
	<img src="assets/img/enConstruccionChico.jpg" alt="">
</figure>