<div class="container">
	<div class="row">
		<div class="col-lg-9 col-xl-9">
			<div class="jumbotron" style="text-align: center">
				<h3>Bienvenido <b>{{ nombreUsuario }} </b> ! </h3>

				<a href="#" class="btn btn-success"> Realizar una publicacíon </a>
			</div>
			<!--<google-map width="550px"
				height="250px"
				[center]="center"
				[zoom]="zoom">
				</google-map>-->
			<div class="card" style="width: 37rem;" *ngFor="let posteo of posteos">
				<h5> Nueva publicación, realizada por {{ posteo.usuarioRealizoPosteo }}</h5>
				<label> {{ posteo.fechaPublicacion }}  </label>
				
				<div class="card-body">
					<h5 class="card-title"> {{ posteo.nombre }} </h5>
					<p class="card-text">{{ posteo.descripcion }}.</p>
					<!-- muestro el KML -->
					<agm-map [latitude]="-24" [longitude]="135" [zoom]="5">
						<agm-kml-layer url="{{ posteo.kml }}"> </agm-kml-layer>
					</agm-map>

					<a href="MeGusta({{ posteo.id }})" class=""> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Me
						Gusta</a>
					<a style="margin-left: 20px;" href="#" class="btn btn-outline-primary"> Comentar </a>
					<a style="margin-left: 20px;" href="#" class="btn btn-primary"> <i class="fa fa-share" aria-hidden="true"></i> Compartir</a>

					<div class="card" style="width: 30rem;" *ngFor="let comentario of posteo.puntajes">
						<b> {{ comentario.nombreUsuario }} realizó un comentario sobre esta publicación: </b> 
						<b> </b>
						{{ comentario.texto }}  
						<b> </b> 
						el {{ comentario.fecha }}  a las {{ comentario.horario }} 				
					</div>
				</div>
			</div>
			<div style="margin-bottom: 30px;"></div>



			<!-- actividad: null
descripcion: null
dificultad: null
distancia: null
fechaRealizacion: 0
formato: null
habilitado: true
id: 1
kml: null
nombre: "Jujuy"
privacidad: null
tiempoEstimado: null -->


			<!--<div class="jumbotron"> 
				<agm-map [latitude]="-24" [longitude]="135" [zoom]="5" (mapClick)="placeMarker($event)"  >  -->
			<!--<agm-marker [latitude]="r.Latitude" [longitude]="r.Longitude" *ngFor="let r of embargoViewModelListEnable; " [iconUrl]="location.icon"> 
					<agm-info-window>Latitude : {{r.Latitude}}, Longitude : {{r.Longitude}} PostCode :{{r.PostCode}}</agm-info-window></agm-marker>
					<agm-marker [latitude]="p.Latitude" [longitude]="p.Longitude" *ngFor="let p of embargoViewModelListDisable; "  [iconUrl]="location1.icon">
					<agm-info-window>Latitude : {{p.Latitude}}, Longitude : {{p.Longitude}} PostCode :{{p.PostCode}}</agm-info-window></agm-marker>  -->
			<!--<agm-kml-layer [url]="'https://www.dropbox.com/s/3bndf59gz24aokg/PO_0800.kml?dl=1'"> </agm-kml-layer>               
					<agm-kml-layer [url]="'https://developers.google.com/kml/documentation/KML_Samples.kml?hl=es-419'"> </agm-kml-layer>    -->
			<!-- <agm-kml-layer [url]="'https://mega.nz/file/YRF3GQpZ#pVHMO-eET3M_c1q0MGoDbyPWus18QGM86P0bu1iVVk8'"> </agm-kml-layer>  
				</agm-map>
			</div>-->
		</div>
		<div class="col-lg-3 col-xl-3">
			<!--	<h3 class="mb-3 font-weight-bold dark-grey-text">
				<strong>Web Push notifications</strong>
			</h3>
			-->
		</div>
	</div>
</div>




<br>


<div class="container">
	<p>
		A progress bar:
		<!-- <ngb-progressbar showValue="true" type="success" [value]="65">
    </ngb-progressbar> -->
	</p>
	<div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
		<button type="button" class="btn btn-success" (click)="open(modalNumeroUno)">abrir modal</button>
	</div>

	<ng-template #modalNumeroUno let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Probando un modal</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body"></div>
	</ng-template>


	<ng-template #content let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="dateOfBirth">Date of birth</label>
					<div class="input-group">
						<input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
							#dp="ngbDatepicker">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary calendar" (click)="dp.toggle()"
								type="button"></button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
		</div>
	</ng-template>

	<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>


	<hr>
	<pre>{{closeResult}}</pre>

</div>

<div class="container">
	<!-- <ngb-tabset>
    <ngb-tab title="Bacon">
        <ng-template ngbTabContent>
          <p class="mt-4">Content for tab 1.
            <button type="button"
                    class="btn btn-secondary"
                    placement="bottom"
                    ngbPopover="A popover in tab 1"
                    popoverTitle="Bacon is good">
              Click me
            </button>
          </p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Lettuce">
        <ng-template ngbTabContent>
          <p>Content for tab 2</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Tomatoes">
        <ng-template ngbTabContent>
          <p>Content for tab 3</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset> -->
</div>
<br>

<!--<a routerLink="/nuevoUsuario"> Crear Nuevo Usuario </a><br> <a
		routerLink="/panelAdmin"> Ingresar al panel de Administrador </a><br>
	<a routerLink="/usuarios"> Ver listado de Usuarios </a><br>
	<a routerLink="/click"> Click </a><br> 
	<a class="nav-link disabled" routerLink="/click" disabled> Click </a>
</nav>-->