
<h1> Mis Rutas </h1>


<button class="btn btn-success" routerLink="/nuevaRuta/{{ _idUsuario }}"> Agregar nueva ruta </button>

<li *ngFor="let ruta of rutas">
  Nombre Ruta: {{ ruta.nombre }} 
  <!-- <a (click)="verRuta(ruta.id)" class="btn btn-success">Ver esta ruta</a> -->
  <button class="btn btn-success" routerLink="/verRuta/{{ ruta.id }}"> Ver esta ruta </button>
</li>

<!-- <a class="btn btn-info" id="v-pills-settings-tab" data-toggle="pill" (click)="nuevaRutaDeUnUsuario()" role="tab"
aria-controls="v-pills-settings" aria-selected="false">Agregar Ruta Function</a> -->