<div *ngIf="mostrarLogeo">
	<form class="text-center border border-light p-5" [formGroup]="formularioDeLogin">
		<p class="h4 mb-4">Ingresar</p>
		<!-- Name 
				<input type="text" id="defaultSubscriptionFormPassword"
					class="form-control mb-4" placeholder="Name">-->
		Usuario
		<input type="text" formControlName="usuario" class="form-control mb-4" placeholder="Usuario">
		<!-- Email
				<input type="email" id="defaultSubscriptionFormEmail"
					class="form-control mb-4" placeholder="E-mail"> -->
		Contraseña
		<input type="password" formControlName="password" class="form-control mb-4" placeholder="Contraseña">
		<!-- Sign in button 
				<button class=" btn btn-info btn-block" type="submit">Ingresar</button>-->
		<button type="button" class="button" id="login" (click)="ingresoDeUsuario()">Iniciar Sesion</button>
		<a class="nav-link" routerLink="/nuevoUsuario/{{ 0 }}"> Registrarse </a>
	</form>
	<!-- Default form subscription -->
</div>
<div class="row" *ngIf="!mostrarLogeo">
	<div class="row" *ngIf="usuarioAdmin">
		<div class="col-12">
			<!-- Image and text -->
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="#">					
					<div><i class="fa fa-user-circle-o" aria-hidden="true"></i>Admin</div>					
				</a>
			</nav>
			<br>
			<!-- As a link -->
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" routerLink="/usuarios"><i class="fa fa-id-card" aria-hidden="true"></i> Usuarios </a>
			</nav>			
			<!-- As a link -->
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" routerLink="/actividades"><i class="fa fa-anchor" aria-hidden="true"></i>Actividades</a>
			</nav>		
			<!-- As a link -->
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" routerLink="/rutas/{{ _idUsuario }}"><i class="fa fa-road" aria-hidden="true"></i>Rutas</a>
			</nav>		

			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" routerLink="/nuevoUsuario/{{ 1 }}"><i class="fa fa-road" aria-hidden="true"></i>Registrar Nuevo Admin</a>
			</nav>	

			<nav class="navbar navbar-light bg-light">
				<button type="button" class="btn btn-outline-success" id="btnCerrarSesion" (click)="cerrarSesion()">Cerrar Sesion</button>
			</nav>	

			<!--<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" routerLink="/usuarios" role="tab"
					aria-controls="v-pills-home">Usuarios</a> <a class="nav-link" id="v-pills-profile-tab"
					data-toggle="pill" routerLink="/actividades" role="tab" aria-controls="v-pills-profile"
					aria-selected="false">Actividades</a> <a class="nav-link" id="v-pills-messages-tab"
					data-toggle="pill" routerLink="/enConstruccion" role="tab" aria-controls="v-pills-messages"
					aria-selected="false">Rutas</a>
					<a class="nav-link" routerLink="/nuevoUsuario/{{ 1 }}"> Registrar Nuevo Admin </a>
			</div> -->
		</div>
	</div>
	<div class="row" *ngIf="!usuarioAdmin">
		<div class="col-12">
			<!-- Image and text -->
			<nav class="navbar navbar-light bg-block">
				<a class="navbar-brand">					
					<div><i class="fa fa-user-circle" aria-hidden="true"></i> Usuario Comun</div>					
				</a>
			</nav>
			<br>
			<!-- As a link -->
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" routerLink="/rutas/{{ _idUsuario }}"><i class="fa fa-road" aria-hidden="true"></i> Mis Rutas</a>
			</nav>			
			<!-- As a link -->
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i>Ir a home</a>
			</nav>		
			
			<nav class="navbar navbar-light bg-light">
				  <button type="button" class="btn btn-outline-danger" id="btnCerrarSesion" (click)="cerrarSesion()">Cerrar Sesion</button>
			</nav>				
		</div>
		<br>
	<br>
	<br>	
	</div>


</div>