<div class="my-container">
	<form [formGroup]="nuevaActividad">
		<div class="row" id="form">
			<div class="col-sm-9 col-md-9" id="form-container">
				<div class="col-sm-12 col-md-6">
					<div class="input-field">
						<div>
							<b> Nueva Actividad </b>
						</div>
						<input type="text" formControlName="nombre" class="form-control">
						<div class="submit-button">
							<button type="button" class="button" id="submit-button"
								(click)="agregarNuevaActividad()">Agregar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div *ngIf="actividades.length">
		<h3>Listado de actividades</h3>
	</div>
	<ul class="list-group">
		<li class="list-group-item list-group-item-action" *ngFor="let actividad of actividades">
			<div class="row">
				<span class="col-md-6">
					<label> <b>Actividad:</b></label> {{actividad.nombre}}
				</span>
				<span class="col-md-6">
					<label> <b> Habilitada:</b>
						<b *ngIf="actividad.habilitado">SI</b>
						<b *ngIf="!actividad.habilitado">NO</b>
					</label>
				</span>
			</div>
			<div class="row">
				<span class="col-md-6">
					<button type="button" class="btn btn-dark" (click)="borrarActividad(actividad)"> Eliminar</button>
				</span>
				<span class="col-md-6">
					<button type="button" class="btn btn-info" routerLink="/actividades/{{ actividad.id }}"> Modificar
						Actividad </button>
				</span>
			</div>
		</li>
	</ul>
</div>
