<ul class="list-group">
    <li class="list-group-item" *ngIf="actividad">
        <div class="text-center border border-light p-5" [formGroup]="formActividadVisualizada">
            <label> <b>Nombre Actividad :</b></label>
            <input type="text" formControlName="nombre" class="form-control mb-4">
            <!-- <label><b>¿Habilitada? </b></label>
            <input type="checkbox" formControlName="habilitado" class="form-control mb-4">
            -->
            <label>
                <input type="radio" value="Habilitada" formControlName="habilitado">
                  <span>Habilitada</span>
              </label>
              <label>
                <input type="radio" value="Deshabilitada" formControlName="habilitado">
                  <span>Deshabilitada</span>
              </label>
        </div>
        <div class="row">
            <span class="col-md-3">
                <button type="button" class="btn btn-success" (click)="modificarDatosActividad()">Modificar
                </button>
            </span>
            <span class="col-md-6">
                <button type="button" class="btn btn-dark" (click)="borrarActividad()"> Eliminar</button>
            </span>
            <span class="col-md-3">
                <button type="button" class="btn btn-warning" routerLink="/actividades"> Volver </button>
            </span>
        </div>
    </li> 
</ul>

<!--<form [formGroup]="formRadios">
    <label>
      <input type="radio" value="Male" formControlName="gender">
        <span>male</span>
    </label>
    <label>
      <input type="radio" value="Female" formControlName="gender">
        <span>female</span>
    </label>
 </form> -->