<app-encabezado></app-encabezado>
<div class="container">
	<div class="row">
		<!-- Divido la pagina en 2 -->
		<div class="col-lg-3 col-xl-3">
			<app-logueo-panel></app-logueo-panel>
		</div>
		<div class="col-lg-9 col-xl-9">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<app-piedepagina></app-piedepagina>