
<h3>Listado de usuarios Comunes</h3>

<ul class="list-group">

	<li class="list-group-item" *ngFor="let usuario of usuarios"
		(click)="cambiarEstadoUsuario(usuario)">
		<div>
			<div class="row">
				<div class="col-4">
					<label> <b>Nombre Usuario :</b></label>
					<label> {{usuario.nombreUsuario}}  </label>
				</div>
				<div class="col-4">
					<label><b> Estado :</b></label>
					<!--{{usuario.habilitado}}-->
					<label *ngIf="usuario.habilitado">Habilitado</label>
					<label *ngIf="!usuario.habilitado">Deshabilitado</label>
				</div>
				<div class="col-4">
					<button type="button" class="btn btn-danger" *ngIf="usuario.habilitado"
					ng-click="cambiarEstadoUsuario(usuario)">Deshabilitar Usuario</button>
					<button type="button" class="btn btn-success" *ngIf="!usuario.habilitado"
					ng-click="cambiarEstadoUsuario(usuario)">Habilitar Usuario</button>
				</div>
				<!--<div class="col-3">
					<label><b> Perfil :</b></label>			
					{{usuario.perfil}}
				</div>			--> 	
			</div>			
		</div>		
	</li>
</ul>

<h3>Listado de usuarios Administradores </h3>

<ul class="list-group">
	<li class="list-group-item" *ngFor="let usuario of usuariosAdmins"
		(click)="cambiarEstadoUsuario(usuario)">
		<div>
			<label> <b>Nombre Usuario :</b></label>
			 {{usuario.nombre}} 
			<label><b> Estado :</b></label>
			{{usuario.habilitado}}
			<label><b> Perfil :</b></label>		
			{{usuario.perfil}}
			<button type="button" class="btn btn-dark"
			ng-click="cambiarEstadoUsuarioAdmin(usuario)">Cambiar Estado</button>	
		</div>
	</li>
</ul>
