/* You can add global styles to this file, and also import other style files */
html{
  width:100%;
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  min-height: 100%;
}

#map-index{
	height: 80px;
	width: 80px;
}

#new-activity{
	color:black;
}
#info-show-header{
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
#info-show{
  text-align: center;
  height: 55vh;
  font-size: 18px;
}
#route-description>span{
  font-size: 25px;
  color: #4caf50;
}

#route-commentaries-header{
  font-size: 25px;
  color: #4caf50;
}
#route-commentaries-each{
  font-size: 16px;
  background: #f1f1f1;
}

#route-commentaries-each>span{
  font-weight: bold;
}

#commentary{
  padding-top: 10px;
}

#route-description{
  font-size: 20px;
}

#route-map>img{
   width:80%;
   height:80%;
}
#route-difficulty-duration-distance>span{
  color: #4caf50;
}
#route-difficulty-duration-distance{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
}


.icons{
    display: flex;
    justify-content: center;
}

.icon>img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.icon>a>img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}



#reset-button{
  background-color: #f44336;
}
#header{
  color: white;
  font-size: 20px;
  height: 100%;
  object-fit: cover;
  background: url("assets/img/lake.jpg") no-repeat center;
  background-size: 100% 100%;
}
#we-share{
  opacity:0.9;
  padding-left: 100px;
  padding-top: 50px;
  font-size: 30px;
}
#experiences{
  padding-left: 140px;
  font-style: italic;
  padding-top: 0px;
}

/*NAV BAR*/

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav-search  {
	
    float: right; 
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 200px !important;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/*NAV BAR*/

#title{
  text-align: center;
  font-size: 20px;
  padding-top:10px;
}

#route-title{
  text-align: center;
  font-size: 30px;
  color: #205aa0;
}

#form{
  padding-top:20px;

}
.input-field{
  text-align: center;
}

textarea{
 width: 100%; 
}
input[type=text], input[type=password], input[type=email], input[type=date], .route-input-field>input, textarea{
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    width: 100%
}

input[type=number], select{
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    width: 100%
}

.time>input{
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: content-box;
  padding: 10px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
  width: 45%
}


#submit-button{
  text-align: center;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    opacity: 0.8;
}


#second-input{
  margin-left:20px;
}



#footer{
  background-color: #333;
  color: white;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;

}

.route-input-field{
  text-align: center;
  padding-top: 5px;
}

.time{
  width: 40%;
}
#two-points{
  padding-left: 5px;
}



/* IMG ROUTE */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* IMG ROUTE */







/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 300px) {

  .input-field{
    width: 100%;
  } 
  .route-input-field{
    width: 100%;
  }
  .button{
    width: 100%;
  }
  #route-description{
    font-size: 18px;
  }


}

@media screen and (min-width: 768px) {
  .button{
    width: 100%;
  }


}