<div class="my-container">
	<h4 style="color: #347ad4"> Publica tu Ruta </h4>
	<form [formGroup]="formNuevaRuta">
		<div class="row" id="form">
			<div class="col-sm-12 col-md-12" id="form-container">
				<!-- primera fila -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-sm-12 col-md-5">
						<label> Nombre de la ruta </label>
						<div class="input-field">
                            <div style="margin-top: -5px;">
                                <input type="text" formControlName="nombre" class="form-control">
                            </div>
						</div>
                    </div>	
                    <div class="col-sm-12 col-md-5">
						<div class="input-field">
							<label> Privacidad </label>
							<select formControlName="privacidad" class="form-control">
								<option value="Publica"> Publica </option>
								<option value="Privada"> Privada </option>
							</select>    
						</div>
					</div>				
                </div>

				<!-- segunda fila -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-sm-12 col-md-5">
						<label>Actividad </label>
						<div class="input-field">
                            <div style="margin-top: -5px;">
                                <select formControlName="actividad" class="form-control">
									<option *ngFor="let acti of actividades" [value]="acti.id"> {{ acti.nombre }}</option>
									<!-- <option *ngFor="let acti of actividades" value="{{acti}}"> {{ acti.id }} {{ acti.nombre }}</option>
									<option *ngFor = "let a of actividades" value="{{a}}">{{a.id}} - {{a.nombre}} {{a.habilitado}} </option> -->
                                </select>
                            </div>
						</div>
                    </div>	
                    <div class="col-sm-12 col-md-5">
						<div class="input-field">
							<label> Descripción </label>
							<input type="text" formControlName="descripcion" class="form-control">
						</div>
					</div>				
				</div>
				
                <!-- tercera fila -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-sm-12 col-md-5">
						<div class="input-field">
							<label> Dificultad </label>
                            <div style="margin-top: -5px;">
                                <select formControlName="dificultad" class="form-control">
                                    <option *ngFor = "let option of dificultades" value="{{option.id}}"> {{ option.nombre }} </option>
                                </select>                              
                            </div>
						</div>
                    </div>	
					<div class="col-sm-12 col-md-5">
						<div class="input-field">
							<label> Distancia (kms) </label>
							<input type="text" formControlName="distancia" class="form-control">
						</div>
					</div>
					<div class="col-md-1"></div>
                </div>                       
				<!-- tercera fila -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-sm-11 col-md-5">
						<div class="input-field">
							<label for="dateOfBirth"> Fecha Realización </label>
							<div class="input-group-append">
								<input id="dateOfBirth" class="form-control" formControlName="fechaRealizacion"
									placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #dp="ngbDatepicker">
								<button class="btn btn-outline-secondary calendar" (click)="dp.toggle()"
									type="button"></button>
							</div>
						</div>
						<div class="col-sm-1 col-md-1"></div>
					</div>
					<div class="col-md-1"></div>
               
					<div class="col-md-1"></div>
					<div class="col-sm-11 col-md-5">
						<div class="col-sm-1 col-md-1"></div>
					</div>
					<div class="col-sm-12 col-md-5">
						<div class="input-field">
							<label> Formato </label>
							<select formControlName="formato" class="form-control">
								<option value="Solo Ida"> Solo Ida </option>
								<option value="Circular"> Circular </option>
							</select>    
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-sm-12 col-md-5">
						<div class="input-field">
							<label> KML URL </label>
							<input type="text" formControlName="kml" class="form-control">
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
				<div class="input-field">
					<label>Tiempo estimado (mins) </label>
					<input type="text" formControlName="tiempoEstimado" class="form-control">
				</div>

				<!-- cuarta fila -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-sm-12 col-md-5">
						<div class="submit-button">
							<button type="reset" class="button" id="reset-button">Borrar</button>
						</div>
					</div>
					<div class="col-sm-12 col-md-5">
						<button type="button" class="button" id="submit-button"
							(click)="onSubmitRuta()">Guardar</button>
						<!-- {{ labelPagina }} -->
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</form>
</div>