<div class="my-container">
	<div class="row">
		<div class="col-sm-12 col-md-12" id="header">
			<div class="w3-display-container">
				<div
					class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
					id="image-header">
					<div class="row">
						<div class="col-sm-12 col-md-12" id="we-share">Compartimos</div>
						<div class="col-sm-12 col-md-12" id="experiences">
							experiencias de viajes</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12" id="title"></div>
	</div>
</div>